<h1>{{ title }}</h1>
<form [formGroup]="ParkingLot" (ngSubmit)="onSubmit()">

  <label>Vehicle: </label>
  <select class="custom-select" (change)="changeVehicle($event)" formControlName="vehicleName">
    <option value="" disabled>Choose your vehicle</option>
    <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle">{{vehicle}}</option>
 </select>

 <h5 *ngIf = twoWheeler>{{availablelotsTwoWheeler}}</h5>
 <h5 *ngIf = hb>{{availablelotsHb}}</h5>
 <h5 *ngIf = suv>{{availablelotsSuv}}</h5>

 <label>Duration:</label>
 <select class="custom-select" (change)="changeSlot($event)" formControlName="duration">
  <option value="" disabled>Duration</option>
  <option *ngFor="let timeslot of Timeslot" [ngValue]="timeslot">{{timeslot}}</option>
</select>
 
<label>Amount:</label>
<select class="custom-select" (change)="changeAmount($event)" formControlName="amount">
  <option value="" disabled>0.00</option>
  <option *ngFor="let amount of amounts" [ngValue]="amount">{{amount}}</option>
</select>
 

  <button type="submit">Paid</button>
</form><!-- Form ends -->